/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  text-align: center;
}
.cnt {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  color: white;
  border-width: 0px;
  padding: 8px;
  font-size: 10px;
  border-radius: 5px;
}
